*{
    margin: 0;
    padding: 0;
    border: 0px;
}
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    border: 0px;
}
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);  */
    background-color: #b7dc36;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: #b7dc36;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
/* ------------------------- */
header .header-top {
    height: 30px;
    background: #b7dc36;
}

header .header-top .container {
    height: 30px;
}

header .header-top .row {
    height: 30px;
}

header .header-top .col-md-6 {
    height: 30px;
}

header .header-top .top-left {
    line-height: 30px;
}
header .header-top p {
    font-size: 13px;
    color: white;
}

header .header-top .col-sm-6 {
    height: 30px;
}

header .header-top .top-right {
    height: 30px;
}

header .header-top ul {
    height: 30px;
}
#header-user{
    opacity: 0;
}
header .header-top li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    line-height: 30px;
    padding: 0 5px 0 5px;
    /* color: white; */
}
header .header-top .top-right {
    text-align: right;
}
header .header-top a {
    color: white;
}
.logo{
    margin-top: 45px;
    display: inline-block;
    color: #666;
    text-decoration: none;
    cursor: pointer;
    /* background: transparent; */
    box-sizing: border-box;
}
.header-center.col-md-4{
    max-width: 33.333333%
}
.header-center{
    margin-top: 15px;
    margin-bottom: 30px;
    box-sizing: border-box;
    color: #333;
    font-family: "Roboto Slab";
    font-size: 13px;
    font-weight: 400;
    line-height: 1.66;
    clear: both;
}

/* end top */

.header-center .header1 .header-banner{
    text-align: center;
    padding: 15px;
    border: 1px solid #ccc;
    max-width: 294px;
    margin: 15px 0px 10px 0px;
    position: relative;
    display: table;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    font-family: "Roboto Slab";
    font-size: 13px;
    font-weight: 400;
    line-height: 1.66;
}
.header2 {
    font-size: 15px;
    padding-top: 11px;
}
ul#header2 {
    list-style: none;
    padding-top: 37px;
    margin-left: -53px;
}

li#header21 {
    display: inline-block;
    padding: 5px;
    font-size: 15px;
}

li#header21 a {
    color: #333;
    text-decoration: none;
}

li#header21 i.fa.fa-phone {
    color: #b7dc36;
}
li#header21 i.fa.fa-envelope {
    color: #b7dc36;
}
input[type="text"] {
    display: inline-block;
}

.header-input {
    display: inline-block;
}

.header3 input[type="text"] {
    width: 100%;
    height: 35px;
    background: #f2f2f2;
}

.header3 button {
    height: 35px;
    width: 50px;
}

.header3 button {
    color: white;
    background: #b7dc36;
}

/* end center */


.header-footer{
    height: 50px;
}
.header-footer .container{
    height: 50px;
}
.header-footer .container ul.menu{
    list-style: none;
    display: block;
    text-align: center;
    position: relative;
}
.header-footer .container ul.menu li{
    display: inline-block;
    padding: 0px 9px 0px 0px;
    position: relative;
    line-height: 50px;
}
.header-footer .container ul.menu li a{
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
}
.header-footer .container ul.menu li div.menutable{
    z-index: 1;
    display: none;
    background: white;
     width: 265px;
     height: 90px;
     position: absolute;   
}
.header-footer .container ul.menu li div.menutable ul li a:hover{
    color: #b7dc36;
}
.header-footer .container ul.menu li#menu a#menu:hover {
    color: #b7dc36;
    border-top: 5px solid #b7dc36;
    padding-top: 9px;
}
.header-footer2{
    display: none;
}
.header-footer .container ul.menu li:hover >div.menutable{
    display: block;
    border: 1px;
}
.header-footer-icon {
    float: right;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    /* width: 1em; */
    text-align: center;
    font-variant: normal;
    text-transform: none;
    /* line-height: 1em; */
    font-size: 23px;
    line-height: 50px;
    color: #333;
}

.header-footer i.fa.fa-refresh {
    padding: 20px;
}

.header-footer3{
    display: none;
}
.header-footer3 #menuToggle
{
  display: block;
  position: relative;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.header-footer3 #menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
.header-footer3 #menuToggle a:hover
{
  color: tomato;
}
.header-footer3 #menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}
.header-footer3 #menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
.header-footer3 #menuToggle span:first-child
{
  transform-origin: 0% 0%;
}
.header-footer3 #menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
.header-footer3 #menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
.header-footer3 #menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.header-footer3 #menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
.header-footer3 #menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.header-footer3 #menu li
{
  padding: 10px 0;
  font-size: 22px;
}
.header-footer3 #menuToggle input:checked ~ ul
{
  transform: none;
}


/* end header */



/* ----- */

main.table-1 .main-top1{
    position: relative;
    z-index: 0;
}

.baoboc {
    position: relative;
}
img#main-top12 {
   width: 100%;
}

img#main-top2 {
    max-width: 100%;
}

.main-top2 {
    position: absolute;
    margin-top: -500px;
    padding-top: 30px;
    padding-bottom: 150px;
}
.main-top21 {
    position: absolute;
    margin-top: -338px;
    text-align: center;
}
.line {
    width: 50px;
    height: 3px;
    background: #b7dc36;
    display: table;
    margin-left: auto;
    margin-right: auto;
}
/* ---------------------------- */
.readMore-custom a {
    font-weight: normal;
    width: 110px;
    min-height: 40px;
    border-radius: 0px;
    border-width: 1px;
    border-color: #b7dc36;
    border-style: solid;
    font-size: 14px;
    line-height: 22px;
    padding: 10px 15px;
    text-decoration: none;
    color: #b7dc36;
  
}
.readMore-custom a:hover{
      text-decoration: none;
      background: #b7dc36;
      color: white;
}


h2.title-custom {
    padding-bottom: 27px;
}
.title-custom {
    font-size: 40px;
    line-height: 0;
    font-family: 'Courgette', cursive;
    font-weight: normal;
    color: #222222;
    text-align: center;

}
.bigsale-top {
  margin-top: 65px;
}

.bigsale-bottom.row{
        margin-right: -15px;
    margin-left: -15px;
}
.bigsale-bottom.bigsale-img{
        max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0px;
}

.bigsale-content h2{
    font-weight: 600;
    color: #f14545;
    font-size: 24px;
    line-height: 30px;
}
.bigsale-content p{
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #555555;
}
.time-custom{
    position: relative;
}
#demo{
    display: inline-block;
    width: 100%;
    background: #b7dc36;
    padding: 15px 0px;
    color: white;
    font-size: 30px
}
#demo>div{
    float: left;
    width: 25%;
    padding-bottom: 20px;
    text-align: center;
    border-right: 1px solid #fff;
    border-radius: 0px;
}
.time-content{
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}
.time-content>div{
    font-size: 24px;
    width: 25%;
    float: left;
    text-align: center;
    color: #fff;
}
.readmore-sale{
    margin-top: 30px;
    margin-bottom:30px ;
    text-align: center;
}
.readmore-sale a{
    font-size: 20px;
    border: 1px solid #b7dc36;
    padding: 10px 20px;
    color: #b7dc36;
    text-transform: uppercase;
}
.readmore-sale a:hover{
    text-decoration: none;
    color: white;
    background: #b7dc36;
}
/* ----------------------------------------------- */

.table-3.container-fluid{
    max-width: 1920px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
 .table-3.container-fluid.row{
    margin-right: -15px;
    margin-left: -15px;
}
.table-3.container-fluid.row.col-sm-12{
    width: 100%;
}
.banner-advertisement{
    background-image: url('../img-test/anhbao.jpg') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.table-3.container-fluid.row.col-sm-12.col-xs-12{
    width: 50%;
}
.table-3.container-fluid.row.col-sm-12.col-xs-12.banner-1{
    height: 200px;
    background: #f4eede !important;
}

.table-3.container-fluid.row.col-sm-12.col-xs-12.banner-1.col-md-6{
    width: 50%;
    float: left;
}
div#banner-a {
    padding-bottom: 22px;
    background: #f4eede !important;
}
div#banner-b {
    background: #d4e0ab !important;
}
.banner01-img img{
    margin-top: 30px;
    margin-left: 15px;
    max-width: 100%;
    height: auto;
    vertical-align: middle; 
}
.banner-content{
    text-align: center;
    margin-top: 30px;
    font-family: 'Courgette', cursive;
    font-weight: normal;
}
.table-3.container-fluid.row.col-sm-12.col-xs-12.banner-2{
    height: 200px;
    background: #d4e0ab !important;
}
.banner-adver.banner-2 {
    background: #d4e0ab;
}
.banner-2.col-md-6{
    width: 50%;
    float: left;
}
.banner-content h2{
    font-family: 'Courgette', cursive;
    font-weight: normal;
    color: #555555;
    font-size: 30px;
}
.banner-content h4{
    font-size: 20px;
    line-height: 35px;
    color: #555555;
    font-weight: normal;
    margin-top: 0px;
} 
.readMore-banner {
    margin-top: 20px;
}
.readMore-banner a{
    padding: 10px 30px;
    border: 2px solid #8b9d4d;
    border-radius: 30px;
    color: #8b9d4d;
    font-size: 18px;
}
.banner02-img img {
    float: right;
    margin-right: 15px;
    margin-top: -40px;
    max-width: 100%;
    height: auto;
    vertical-align: middle;

}
a#shop-now {
    border: 2px solid #f5b571;
    color: #f5b571;
    text-decoration: none;
}
a#shop-now:hover{
    background:  #f5b571;
    color: white;
}
a#track-now {
    text-decoration: none;
}
a#track-now:hover{
    background:  #8b9d4d;
    color: white;
}

/* --------------------table-4---------------------------------- */
.table-4{
    background: url('../img-test/anhbao.jpg');
     padding: 50px 0px; 
}
.table-4 .title-custom {
    font-size: 40px;
    line-height: 0;
    font-family: 'Courgette', cursive;
    font-weight: normal;
    color: #222222;
    text-align: center;
}
ol.breadcrumb {
    background: none;
    display: flex;
    justify-content: center;
     font-size: 18px;
}
ol.breadcrumb a{
    color: #333;
}
ol.breadcrumb a:hover{
    text-decoration: none;
}
li.breadcrumb-item.current {
    cursor: pointer;
}
li.breadcrumb-item{
    cursor: pointer;
}
div.table-2-center2 {display: none;}

div.table-2-center2.current {
    display: block;
}


.card-body {
    text-align: center;
}

p#card-1 {
    
    color: black;
}

div#card {
    display: flex;
    margin-left: 38px;
}

p#card-2 {
}

p#card-2 {
    padding-right: 5px;
}

p#card-3 {
    text-decoration: line-through;
    color: #999;
}

/* -------------- */
.card{
    position: relative;
    overflow: hidden;
}
.layer{
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgb(0, 0, 0.5);
    z-index: 2;
    transform: translateX(-100%);
}
.card:hover .layer{
    opacity: 1;
    visibility: visible;
    background: #0000009c;
    transition: 0.5s;
    transform: translateX(0);
}
.card:hover .layer2{
     opacity: 1;
    visibility: visible;
    transition: 0.5s;
}
.layer2{
    opacity: 0;
    position: absolute;
     width: 100%;
    height: 230px;
     text-align: center;
    margin-top: 143px;
    z-index: 3;
}
.icon-top {
    margin-left: 13px;
}
.star{
    color: white;
}
i.fa.fa-eye {
    border: 1px solid white;
    padding: 12px;
    cursor: pointer;
}
i.fa.fa-eye:hover{
    border: 1px solid #b7dc36;
    background-color: #b7dc36;
}
i.fa.fa-shopping-cart {
    border: 1px solid white;
    padding: 12px;
    cursor: pointer;
}
i.fa.fa-shopping-cart:hover{
    border: 1px solid #b7dc36;
    background-color: #b7dc36;
}

i.fa.fa-retweet {
    border: 1px solid white;
    padding: 12px;
    cursor: pointer;
}
i.fa.fa-retweet:hover{
    border: 1px solid #b7dc36;
    background-color: #b7dc36;
}
.add-to a{
    color: white;
}
.add-to {
    display: inline-block;
    border: 1px solid white;
    margin-top: 10px;
    font-size: 15px;
    color: white;
    padding: 5px 20px;
}
.add-to:hover{
    border: 1px solid #b7dc36;
    background-color: #b7dc36;
    cursor: pointer;
}
.add-to:hover a{
    color: white;
}

i.fa.fa-eye {
    font-size: 15px;
    color: white;
}
i.fa.fa-shopping-cart {
    font-size: 15px;
     color: white;
}

i.fa.fa-retweet {
    font-size: 15px;
     color: white;
}

.icon-top {
    margin-top: 10px;
}


.loadMore {
    text-align: center;
    margin-top: 30px;
}


.loadMore a {
    padding: 15px 50px;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #b7dc36;
    font-size: 14px;
    background: #b7dc36;
    color: #fff;
}
.loadMore a:hover{
    text-decoration: none;
    background: white; 
    border: 1px solid #b7dc36;
    color: #b7dc36;
}

/* -------table-5------- */
:root {
  --main-white-color: white;
  --main-black-color: black;
}

.static {
  position: static;
}

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.owl-carousel .owl-slide {
  position: relative;
  height: 100vh;
  background-color: lightgray;
}

.owl-carousel .owl-slide-animated {
  transform: translateX(20px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.05s;
}
.owl-carousel .owl-slide-animated.is-transitioned {
  transform: none;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}
.owl-carousel .owl-slide-title.is-transitioned {
  transition-delay: 0.2s;
}
.owl-carousel .owl-slide-subtitle.is-transitioned {
  transition-delay: 0.35s;
}
.owl-carousel .owl-slide-cta.is-transitioned {
  transition-delay: 0.5s;
}

.owl-carousel .owl-dots,
.owl-carousel .owl-nav {
  position: absolute;
}
.owl-carousel .owl-dots .owl-dot,
.owl-carousel .owl-nav [class*="owl-"]:focus {
  outline: none;
}
.owl-carousel .owl-dots .owl-dot:hover span,
.owl-carousel .owl-dots .owl-dot.active span {
  background: var(--main-black-color);
}
.owl-carousel .owl-nav {
    display: none;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  margin: 0;
}
.owl-carousel .owl-nav svg {
  opacity: 0.3;
  transition: opacity 0.3s;
}

.owl-carousel .owl-nav button:hover svg {
  opacity: 1;
}
.owl-carousel .owl-nav [class*="owl-"]:hover {
  background: transparent;
}

section {
  display: none;
}
.table-5{
    width: 100%;
    height: 100%;
    background-image: url('../img-test/anhdaidien2.jpg');
    position: relative;
    padding-top: 30px;
    padding-bottom: 5px;
    margin-bottom: 60px;
}
.table-5.table img {
    padding-top: 21px;
}
.title-2>#tab-content{
    display: block;
}
span.time {
    color: #333;
}
.text-center {
    text-align: center !important;
    color: white;
    margin-left: 226px;
}
p.desc-customer {
    color: white;
    text-align: center;
}
img.d-block.w-20 {
    margin-left: 501px ;
}
img.d-block.w-20 {
    border-radius: 50px;
}
 p.name {
    color: white;
    text-align: center;
}


/* ---------------table-6---- */
.table-6.container-fluid.row.col-sm-12.col-xs-12{
    width: 50%;
}
.table-6 a#info-a {
    padding: 10px 15px;
    border:  1px solid #b7dc36;
    color: #b7dc36;
    text-decoration: none;
}
.table-6 a#info-a:hover{
    background-color:#b7dc36;
     color: white; 
}
.table-6 a#info-b{
    color: #333;
    text-decoration: none;
}
.table-6 a#info-b:hover{
    color: orange;
}
.table-6 img{
        object-fit: cover;
}

/* ---------table-7------------ */

.table-7{
    background-image: url('../img-test/anh2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: inherit;
    padding: 30px 0px;
    margin-top: 60px;
}
.table-7 .title-custom {
    font-size: 20px;
    line-height: 0;
    font-family: 'Courgette', cursive;
    font-weight: normal;
    color: #222222;
    text-align: center;

}
.table-7 #keyword{
    max-width: 100%;
    display: inherit;
}
input.form-control.search-suggestion {

    border-radius: 0px;
    height: 50px;
    margin-top: 41px;
    max-width: 100%;
}
h2.title-custom {
    margin-top: 46px;
}
input.btn.btn-send-reg-email {
    border: 1px solid #b7dc36;
    background: #b7dc36;
    color: white;
    height: 50px;
    margin-top: 41px;
    border-radius: 0px;
    max-width: 100%;
}

/* ------------------------ */
.footer-left-1{ 
    color: black;
}
.footer-left-2{
    color: black;
}
.footer-left-2 ul{
    text-decoration: none;
    list-style: none;
}
.footer-left-2 ul li{
    float: left;
    padding: 0px 15px 0px 5px;
}
i#footer-face {
    color: white !important;
    height: 38px;
    width: 38px;
    text-align: center;
    background-color: #3b5998;
    border-radius: 50px;
    line-height: 39px;
}
i#footer-twitter {
    color: white !important;
    height: 38px;
    width: 38px;
    text-align: center;
    background-color: #1da1f2;
    border-radius: 50px;
    line-height: 39px;
}
i#footer-google {
    color: white !important;
    height: 38px;
    width: 38px;
    text-align: center;
    background-color: #db4437;
    border-radius: 50px;
    line-height: 39px;
}
i#footer-pinter {
    color: white !important;
    height: 38px;
    width: 38px;
    text-align: center;
    background-color: #dc121a;
    border-radius: 50px;
    line-height: 39px;
}
.footer-3{
    color: black;
}
.footer-4{
    color: black;
    font-size: 15px;
}
.footer-5{
    color: black;
}
.footer-6 img{
     width: calc(33.33% - 15px);
    float: left;
    padding: 0px 10px 0px 10px;
    position: relative;
}
.footer-7{
    color: #333;
}
.footer7-1{
    margin:20px 20px;
    padding: 5px 10px 15px 19px;
}
.footer7-1 h5{
    font-size: 1.25rem;
    text-align: center;
}
.footer7-1 h4{
    font-size: 1.25rem;
    text-align: center;
}
span.icon-8 {
    margin-left: -280px;
}
span.icon-8 img{
    text-align: center;
}
.footer-left-1 h4{
    color: black;
}
.footer-3 h4{
    color: black;
}
.footer-5 h4{
    color: black;
}
h5 {
    color: #999999;
}

h4 {
    color: #999;
}
/* ----------------------------- */




@media only screen and (max-width: 992px){
    *{
        margin: 0;
        padding: 0;
        border: 0px;
    }
    body{
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        border: 0px;
    }
    .header-footer .container ul.menu {
        opacity: 0;
    }
    ul#header2 {
        padding-top: 0;
        margin-left: 0;
    }
    .header-top{
        display: none;
    }
    .header-footer3 {
        display: block;
    }
    .header-footer{
        display: none;
    }
    .header-center .header1{
        display: none;
    }
    .header-center .header2{
        display: none;
    }
     .header-center .header3{
        display: none;
    }
    ul#header2 {
        padding-top: 0;
        margin-left: 0;
    }
    .header-footer .container ul.menu {
        opacity: 0;
    }
    .main-top12{
        position: relative;
    }
    img#main-top12 {
    width: 100%;
    height: 500px;
    }
    .main-top2 {
    position: absolute;
    margin-top: -355px;
    padding-top: 30px; 
    padding-bottom: 150px;
    }
    img#main-top2 {
    height: 330px;
    position: relative;
    max-width: 100%;
    padding-bottom: 30px;
    }   


    div#banner-a {
    padding-bottom: 22px;
    }
    .banner02-img img {
        float: left;
    }

    .footer-left-2 ul li {
        float: left;
        padding: 0px 5px 0px 5px;
    }
    .footer-6 img {
        width: calc(33.33% - 15px);
        float: left;
        padding: 0px 5px 0px 5px;
        position: relative;
    }
    .footer-left-1 {
        color: #00000094;
    }
    .footer-4 {
        color: #00000094;
        font-size: 15px;
    }

    .footer7-1 h5 {
        font-size: 15px;
    }
    .footer7-1 h4 {
        font-size: 12px;
    }
    span.icon-8 img {
        display: none;
    }
}
@media only screen and (max-width: 768px){
    *{
        margin: 0;
        padding: 0;
        border: 0px;
    }
    body{
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        border: 0px;
    }
    .main-top12{
        position: relative;
    }
    img#main-top12 {
    width: 100%;
    height: 500px;
    }
    .main-top2 {
    position: absolute;
    margin-top: -355px;
    padding-top: 30px; 
    padding-bottom: 150px;
    }
    img#main-top2 {
    height: 330px;
    position: relative;
    max-width: 100%;
    padding-bottom: 30px;
    }   

     .footer-left-2 ul li {
        float: left;
        padding: 0px 5px 0px 5px;
    }
    .footer-6 img {
        width: calc(33.33% - 15px);
        float: left;
        padding: 0px 5px 0px 5px;
        position: relative;
    }
    .footer-left-1 {
        color: #00000094;
    }
    .footer-4 {
        color: #00000094;
        font-size: 15px;
    }

    .footer7-1 h5 {
        font-size: 15px;
    }
    .footer7-1 h4 {
        font-size: 12px;
    }
}
