#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #b7dc36;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background-color: #b7dc36;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
/* --------------------- */
*{
    margin: 0;
    padding: 0;
    border: 0px;
}
body{
    overflow-x: hidden;
}
header .header-top {
    height: 30px;
    background: #b7dc36;
}

header .header-top .container {
    height: 30px;
}

header .header-top .row {
    height: 30px;
}

header .header-top .col-md-6 {
    height: 30px;
}

header .header-top .top-left {
    line-height: 30px;
}
header .header-top p {
    font-size: 13px;
    color: white;
}

header .header-top .col-sm-6 {
    height: 30px;
}

header .header-top .top-right {
    height: 30px;
}

header .header-top ul {
    height: 30px;
}
#header-user{
    opacity: 0;
}
header .header-top li {
    float: left;
    list-style: none;
    text-decoration: none;
    line-height: 30px;
    padding: 0 5px 0 5px;
    /* color: white; */
}
header .header-top .top-right {
    padding-left: 251px;
}
header .header-top a {
    color: white;
}
.logo{
    margin-top: 45px;
    display: inline-block;
    color: #666;
    text-decoration: none;
    cursor: pointer;
    /* background: transparent; */
    box-sizing: border-box;
}
.header-center.col-md-4{
    max-width: 33.333333%
}
.header-center{
    margin-top: 15px;
    margin-bottom: 30px;
    box-sizing: border-box;
    color: #333;
    font-family: "Roboto Slab";
    font-size: 13px;
    font-weight: 400;
    line-height: 1.66;
    clear: both;
}

/* end top */

.header-center .header1 .header-banner{
    text-align: center;
    padding: 15px;
    border: 1px solid #ccc;
    max-width: 294px;
    margin: 15px 0px 10px 0px;
    position: relative;
    display: table;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    font-family: "Roboto Slab";
    font-size: 13px;
    font-weight: 400;
    line-height: 1.66;
}
.header2 {
    font-size: 15px;
    padding-top: 11px;
}
ul#header2 {
    list-style: none;
    padding-top: 37px;
    margin-left: -53px;
}

li#header21 {
    display: inline-block;
    padding: 5px;
    font-size: 15px;
}

li#header21 a {
    color: #333;
    text-decoration: none;
}

li#header21 i.fa.fa-phone {
    color: #b7dc36;
}
li#header21 i.fa.fa-envelope {
    color: #b7dc36;
}
input[type="text"] {
    display: inline-block;
}

.header-input {
    display: inline-block;
    /* width: 69%; */
    /* padding: 0px; */
}

.header3 input[type="text"] {
    width: 270px;
    height: 35px;
    background: #f2f2f2;
}

.header3 button {
    height: 35px;
    width: 50px;
}

.header3 button {
    color: white;
    background: #b7dc36;
}

/* end center */


.header-footer{
    height: 50px;
}
.header-footer .container{
    height: 50px;
}
.header-footer .container ul.menu{
    list-style: none;
    display: block;
    text-align: center;
    position: relative;
}
.header-footer .container ul.menu li{
    display: inline-block;
    padding: 0px 15px 0px 0px;
    position: relative;
    line-height: 50px;
}
.header-footer .container ul.menu li a{
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
}
.header-footer .container ul.menu li div.menutable{
    z-index: 1;
    display: none;
    background: white;
     width: 265px;
     height: 90px;
     position: absolute;   
}
.header-footer .container ul.menu li div.menutable ul li a:hover{
    color: #b7dc36;
}
.header-footer .container ul.menu li#menu a#menu:hover {
    color: #b7dc36;
    border-top: 5px solid #b7dc36;
    padding-top: 9px;
}
.header-footer2{
    display: none;
}
.header-footer .container ul.menu li:hover >div.menutable{
    display: block;
    border: 1px;
}
.header-footer-icon {
    float: right;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    /* width: 1em; */
    text-align: center;
    font-variant: normal;
    text-transform: none;
    /* line-height: 1em; */
    font-size: 23px;
    line-height: 50px;
    color: #333;
}

.header-footer i.fa.fa-refresh {
    padding: 20px;
}


/* end header */
/* ---------------------table-1-------------------- */
main .table-1 {
    position: relative;
    height: 260px;
}

main .table-1 #table1-img{
    width: 100%;
    height: 250px;
}
.table1-2 {
    margin-top: -150px;
    text-align: center;
    font-size: 25px;
}

.table1-2 ol {
    line-height: none;
    text-decoration: none;
    list-style: none;
}

 .table1-2 ol li {
    display: inline-block;
    text-decoration: none;
}
 .table1-2 ol li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
 }
 li#organic1 {
    color: #777;
    font-weight: bold;
}

li#organic2 {
    color: #f7b111;
    font-weight: bold;
    font-size: 23px;
}

/* --------------end tabl1-1--------------------- */

.table-2 .left1 {
    border: 1px solid #ebebeb;
}
.table-2 .left1 h5 {
    border-bottom: 1px solid #ebebeb;
    font-weight: bold;
    padding: 5px 0px 5px 17px;
}
.table-2 ul.menu-table2 {
    list-style: none;
}

.table-2 ul.menu-table2 li {
    border-bottom: 1px solid #ebebeb;
    padding-left: 17px;
}
.table-2 ul.menu-table2 li:last-child{
    border: none;
}
.table-2 ul.menu-table2 li a {
    color: black;
    font-size: 15px;
}
.table-2 ul.menu-table2 li a:hover{
    text-decoration: none;
    color: #f7b111;
}
.table-2 li.rau {
    padding: 5px 0px 10px 0px;
}

.table-2 li.thit {
    padding: 5px 0px 10px 0px;
    border-bottom: 1px solid #ebebeb;
}

/* end left1 */
.table-2 img{
    object-fit: cover;
    height: 255px;
    width: 100%;
}

.table-2 .left2 {
    border: 1px solid #ebebeb;
}
.table-2 .left2 h5 {
    font-weight: bold;
    padding: 5px 0px 5px 60px;
}
.table-2 .left2 .line{
    width: 50px;
    height: 3px;
    background: #b7dc36;
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.table-2 .left2 img {
    width: 90%;
    padding: 15px;
    padding-left: 10px;
    margin-left: 12px;
    height: 150px;
    border-radius: 20px;
}
.table-2 .left2  a#title-blogs-item {
    font-weight: bold;
    text-align: left;
    display: block;
    margin-top: 15px;
    font-size: 14px !important;
    color: #000000ba;
    text-decoration: none;
    padding-left: 21px;
}

.table-2 .left2  a#title-blogs-item:hover{
    color: #f7d111;
}

h2.title-blogs-item {
    height: 60px;
}

.table-2.container-fluid.row.col-sm-12.col-xs-12{
    width: 50%;
}
.table-2 a#info-b{
    color: #333;
    text-decoration: none;
}
.table-2 a#info-b:hover{
    color: orange;
}
/* ---------end container flui------- */

.table-2-center3 ul.table-2-cennter31{
    margin-top: 10px;
    margin-bottom: 85px;
    border: 1px solid #ebebeb;
    padding-top: 15px;
    text-align: center;
    padding-right: 7px;
    display: inline-block;
    width: 100%;
    list-style: none;
    padding: 10px 18px 7px;
    height: 60px;
}
.table-2-center3 ul.table-2-cennter31 li{
    display: inline-block;
    padding: 10px 18px 7px;
    border: 1px solid #ebebeb;
    background: #ddd;
}
.table-2-center3 ul.table-2-cennter31 li a{
     color: black;
     font-weight: bold;
     text-decoration: none;
}
/*  .table-2-center3 ul.table-2-cennter31 li a:hover{
    color: white;
    display: block;
}  */
.table-2-center3 ul.table-2-cennter31 li:hover a {
    background-color: #f7b111;
    color: white;
}
.table-2-center3 ul.table-2-cennter31 li:hover{
       background-color: #f7b111;
       cursor: pointer;
}
.table-2-center3 {
    padding-top: 70px;
}

/* --------end  table-2------------- */
.table-3 {
}

/* -------------end -table-3----------- */
.table-7{
    background-image: url('../img-test/anh2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: inherit;
    padding: 30px 0px;
    margin-top: 60px;
}
.table-7 #keyword{
        max-width: 100%;
    display: inherit;
}
input.form-control.search-suggestion {

    border-radius: 0px;
    height: 50px;
    margin-top: 41px;
    max-width: 100%;
}
h2.title-custom {
    margin-top: 46px;
}
input.btn.btn-send-reg-email {
    border: 1px solid #b7dc36;
    background: #b7dc36;
    color: white;
    height: 50px;
    margin-top: 41px;
    border-radius: 0px;
    max-width: 100%;
}
/* -------------------------end table-7--------------- */
.footer-left-1{ 
    color: black;
}
.footer-left-2{
    color: black;
}
.footer-left-2 ul{
    text-decoration: none;
    list-style: none;
}
.footer-left-2 ul li{
    float: left;
    padding: 0px 15px 0px 5px;
}
i#footer-face {
    color: white !important;
    height: 38px;
    width: 38px;
    text-align: center;
    background-color: #3b5998;
    border-radius: 50px;
    line-height: 39px;
}
i#footer-twitter {
    color: white !important;
    height: 38px;
    width: 38px;
    text-align: center;
    background-color: #1da1f2;
    border-radius: 50px;
    line-height: 39px;
}
i#footer-google {
    color: white !important;
    height: 38px;
    width: 38px;
    text-align: center;
    background-color: #db4437;
    border-radius: 50px;
    line-height: 39px;
}
i#footer-pinter {
    color: white !important;
    height: 38px;
    width: 38px;
    text-align: center;
    background-color: #dc121a;
    border-radius: 50px;
    line-height: 39px;
}
.footer-3{
    color: black;
}
.footer-4{
    color: black;
    font-size: 15px;
}
.footer-5{
    color: black;
}
.footer-6 img{
    float: left;
    padding: 0px 10px 0px 10px;
}
.footer-7{
    color: #333;
}
.footer7-1{
    margin:20px 20px;
    padding: 5px 10px 15px 19px;
}
.footer7-1 h5{
    font-size: 1.25rem;
     text-align: center;
}
.footer7-1 h4{
    font-size: 1.25rem;
     text-align: center;
}
span.icon-8 {
    margin-left: -17px;
}
.footer-left-1 h4{
    color: black;
}
.footer-3 h4{
    color: black;
}
.footer-5 h4{
    color: black;
}
h5 {
    color: #999999;
}

h4 {
    color: #999;
}

/* --------------------reponsive----------- */
@media only screen and (max-width: 992px){
    .header-footer .container ul.menu {
        opacity: 0;
    }
    ul#header2 {
        padding-top: 0;
        margin-left: 0;
    }
    .header-top{
        display: none;
    }
    .header-footer{
        display: none;
    }
    .header-center .header1{
        display: none;
    }
    .header-center .header2{
        display: none;
    }
     .header-center .header3{
        display: none;
    }
/* --------------end header----------- */
/*     #table-3-item4{
        opacity: 0;
    }
    #table-3-item5{
        opacity: 0;
    }
    #table-3-item6{
        opacity: 0;
    } */
     .table-3{
        text-align: center;
    }
    .table-3 #table-3-item4{
        display: none;
    }
    .table-3 #table-3-item5{
        display: none;
    }
    select#category{
        display: none;
    }
/*------------------end main-------------  */
    .footer-left-2 ul li {
        float: left;
        padding: 0px 5px 0px 5px;
    }
    .footer-6 img {
        width: calc(33.33% - 15px);
        float: left;
        padding: 0px 5px 0px 5px;
        position: relative;
    }
    .footer-left-1 {
        color: #00000094;
    }
    .footer-4 {
        color: #00000094;
        font-size: 15px;
    }

    .footer7-1 h5 {
        font-size: 15px;
    }
    .footer7-1 h4 {
        font-size: 12px;
    }
     div#anhqua3 {
    margin-top: 50px;
    }

}


@media only screen and (max-width: 768px){
   .header-top{
        display: none;
    }
    .header-footer{
        display: none;
    }
    .header-center .header1{
        display: none;
    }
    .header-center .header2{
        display: none;
    }
     .header-center .header3{
        display: none;
    }
    div#anhqua3 {
    margin-top: 50px;
    }
    .left2.mt-5 {
    display: none;
    }
    .table-2-center .list-style1 {
        display: none;
    }
    .table-2 .table-2-center {
        
    }
    .table-3{
        text-align: center;
    }
    .table-3 #table-3-item4{
        display: none;
    }
    .table-3 #table-3-item5{
        display: none;
    }
    .table-3-item2 {
    display: none;
    }

}
@media only screen and (max-width: 576px){
    .header-top{
        display: none;
    }
    .header-footer{
        display: none;
    }
    .header-center .header1{
        display: none;
    }
    .header-center .header2{
        display: none;
    }
     .header-center .header3{
        display: none;
    }
    div#anhqua3 {
    margin-top: 50px;
    }
    .left2.mt-5 {
    display: none;
    }
    .table-2-center .list-style1 {
        display: none;
    }
    .table-2 .table-2-center {
        
    }
    .table-3{
        text-align: center;
    }
    .table-3 #table-3-item4{
        display: none;
    }
    .table-3 #table-3-item5{
        display: none;
    }
    .table-3-item2 {
    display: none;
    }
     .table-3-item0{
        display: none;
    }
}
